<section class="section summary-section">
<!--<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>-->
<div class="summary">
    <p>I am a PhD student at the University of Maryland.</p>

    I also answer questions on <a href="https://www.quora.com/profile/Rohan-Chandra-9" target="_new"> on Quora.</a>

<!--Here is my <a href="/attachments/research_statement.pdf" target="_new">research statement.</a> Here is my one page <a href="/attachments/Cover_Letter.pdf" target="_new">cover letter</a> on how I differ from other candidates.--> 

Here are my most recent <a href="{{site.baseurl}}/assets/images/comments.png" target="_blank">TA evaluations.</a> </br></br>



   </p><b>NEW!</b>&nbsp I'll be starting the PhD in Computer Science program at UMD next Fall! <br>
       <b>NEW!</b>&nbsp Webpage for my new research on tracking coming soon. Under construction <a href="{{site.baseurl}}/trackingWebpage.html" target="new"> here. </a>
	

<br>
<!--
    I have a <a href="https://rohanchandra306.wordpress.com/" target="_new">blog</a> where I write occasionally on interesting math tricks. </br>-->


</div><!--//summary-->
</section><!--//section-->
