<section class="section summary-section">
<!--<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>-->
<div class="summary">

    <p>I am a CS PhD student at the University of Maryland working with Dr. Dinesh Manocha.</p>

    <!--I also answer questions on <a href="https://www.quora.com/profile/Rohan-Chandra-9" target="_new"> on Quora.</a></br></br>-->

<!--Here is my <a href="/attachments/research_statement.pdf" target="_new">research statement.</a> Here is my one page <a href="/attachments/Cover_Letter.pdf" target="_new">cover letter</a> on how I differ from other candidates.--> 

In addition to being a doctoral student and a top writer on <a href="https://www.quora.com/profile/Rohan-Chandra-9" target="_new"> on Quora</a>, I also have extensive experience teaching maths to people of different ages. Here are my most recent TA evaluations for <a href="{{site.baseurl}}/assets/images/comments.png" target="_blank">Fall 2017</a> and <a href="{{site.baseurl}}/assets/images/ta.png" target="_blank"> Spring 2018.</a> </br></br>

<!--Outside of academia, I am addicted to all elements of the following set: <i>{mental maths, chess, the dragonball franchise, fitness, coffee}.</i> Conversing with me is easy if the topic of conversation belongs to this set. If not, then good luck getting me to talk.-->



   </p><b>NEW!</b>&nbsp Shifted to the brand new <a href = https://iribe.cs.umd.edu/" target="_new">Iribe Center for Computer Science and Engineering !</a> <br>
<b>NEW!</b>&nbsp 1 paper in invited session in SampTA'19 ! <br>
<b>NEW!</b>&nbsp 1 paper in CVPR'19 ! <br>


	
<br>
<!--
    I have a <a href="https://rohanchandra306.wordpress.com/" target="_new">blog</a> where I write occasionally on interesting math tricks. </br>-->

</div><!--//summary-->
</section><!--//section-->
