<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p>I am a second year Masters student in Computer Science at the University of Maryland, College Park. My academic advisor is <a href="https://www.cs.umd.edu/~tomg/" target="_new">Tom Goldstein</a>. I am broadly interested in solving non-convex optimization problems. Currently, I'm trying to solve low rank matrix estimation in the natural parameter space without lifting to higher dimenions.</br>

    </br>

    Previously, I worked on Phase Retrieval. Over the past few months, we created Phasepack, a MATLAB based library to solve phase retrieval using classical and contemporary routines. You can contact me if you wish to take a look at the unofficial versions of the paper and code. Final official versions are going to be up soon!</a></p></br>

    Check out my <a href="https://rohanchandra306.wordpress.com/" target="_new">blog</a> here where I write occasionally on interesting math tricks. </br>
	</br>
    I also write on <a href="https://www.quora.com/profile/Rohan-Chandra-9" target="_new">Quora</a> 


</div><!--//summary-->
</section><!--//section-->
