
<!-- Career Start -->

<section id="blog" class="container content-section text-center">
    <div class="row">
    
     **R. Chandra**, R. Teja, N. Pandey and R. Pandey ”Operational Trans Resistance Amplifier (OTRA) Based R-2R
Ladder and Weighted Resistor DAC’s” in *2nd International Conference on Recent Innovations in Science,
Engineering and Management (ICRISEM-15)*, New Delhi, India, November 2015.

<a href="http://data.conferenceworld.in/ICRISEM2/P591-596.pdf"> Publication</a>

<img src="http://www.conferenceworld.in/images/classifiedads/3186106830.jpg" alt="Mountain View" style="width:304px;height:228px;">

<img src="http://www.conferenceworld.in/images/classifiedads/1904769651.jpg" alt="Mountain View" style="width:304px;height:228px;">




 **R. Chandra**, R. Anurag, N. Pandey and R. Pandey ”Second Order Delay Equalizer Realization Based On
OTRA” in *National Conference on Recent Trends in Communication and Technology*, Haryana, India, March 2015.  
***Secured 2nd position as Best Paper Presenter.***
      

        <div class="col-lg-8 col-lg-offset-2">

         
        </div>
    </div>
</section>

<!-- Career End -->
