<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Relevant Courses</h2>

                <div class="item">
                    <span class="project-title">MATH 461: <a href="#" target="_blank">Undergraduate Linear Algebra</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">CMSC 828G: <a href="#" target="_blank">Graduate Computer Vision I</a> by Rama Chellapa</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">CMSC 733: <a href="https://www.cs.umd.edu/class/spring2017/cmsc733/" target="_blank">Graduate Computer Vision II</a> by Yiannis Aloimonos</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">CMSC 764: <a href="https://www.cs.umd.edu/~tomg/cmsc764_2017/" target="_blank">Graduate Optimization</a> by Tom Goldstein</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">STAT 400: <a href="#" target="_blank">Probability and Statistics</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">CMSC 652: <a href="#" target="_blank">Graduate Complexity Theory</a> by Xiaodu Wu (current)</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title">CMSC 737: <a href="#" target="_blank">Software Testing</a> by Atif Memon (current)</span>
                </div><!--//item-->
                

            </section><!--//section-->