<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Relevant Courses</h2>

                <div class="item">
                    <span class="project-title">MATH 461: Undergraduate Linear Algebra</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">CMSC 828G: Graduate Computer Vision I by Rama Chellapa</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">CMSC 733: <a href="https://www.cs.umd.edu/class/spring2017/cmsc733/" target="_blank">Graduate Computer Vision II</a> by Yiannis Aloimonos</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">CMSC 764: <a href="https://www.cs.umd.edu/~tomg/cmsc764_2017/" target="_blank">Graduate Optimization</a> by Tom Goldstein</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">STAT 400: Probability and Statistics</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">STAT 726: <a href="http://www.umiacs.umd.edu/~jbg/teaching/CMSC_726/" target="_blank">Graduate Machine Learning</a> by Jordan Boyd-Graber (current)</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title">CMSC 828R: <a href="http://cs.umd.edu/class/fall2017/cmsc828R/" target="_blank">Spectral Methods and Reinforcement Learning</a> by Furong Huang (current)</span>
                </div><!--//item-->

                 <div class="item">
                    <span class="project-title">STAT 420: Statistics I</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title">CMSC 818G: Information-Centric Design of Systems by Ashok Agrawala</span>
                </div><!--//item-->
                

            </section><!--//section-->
