<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-pencil"></i>Relevant Courses</h2>

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">MATH 461: Undergraduate Linear Algebra</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CMSC 828G: Graduate Computer Vision I by Rama Chellapa</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://www.cs.umd.edu/class/spring2017/cmsc733/" target="_blank">CMSC 733: Graduate Computer Vision II by Yiannis Aloimonos</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://www.cs.umd.edu/~tomg/cmsc764_2017/" target="_blank">CMSC 764: Graduate Optimization by Tom Goldstein</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">STAT 400: Probability and Statistics</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CMSC 652: Graduate Complexity Theory by Xiaodu Wu (current)</a></span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">CMSC 737: Software testing by Atif Memon (current)</a></span>
                </div><!--//item-->
                

            </section><!--//section-->