 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.Tech in ECE</h4>
    <h5 class="meta">Delhi Technological University, New Delhi, India</h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">M.S. in Computer Science</h4>
    <h5 class="meta">University of Maryland, College Park, USA</h5>
    <div class="time">2016 - 2018</div>
</div><!--//item-->
</div><!--//education-container-->
