
<!-- Career Start -->

<section id="blog" class="container content-section text-center">
    <div class="row">
    <h1>Advice and Helpful Suggestions for MS/PhD</h1>
      <p> I spent two summers in the US, one at UC Berkeley and the other at the University of Maryland, College Park, talking to professors and admission committee members. While I claim that I do not have a total and absolute understanding of the grad admission process, I do have some helpful ground truth knowledge that can help my juniors at college or anyone out there on the internet starting his/her MS journey and looking for some guidance.<br> I’ll create separate posts for GRE preparation, Statement of Purpose and Letters of Recommendation. In those, I’ll put in my two cents about each but most importantly, I’ll include some links and blogs I followed which proved (or would prove, soon as my admits start rolling in!) to be invaluable and really helped me gain insight into the minds of the admission committee. <br>I shall keep this page updated. </p>


      <h3>I applied and am waiting for decisions from:</h3>
          <ul>
          <li>Stanford</li>
          <li>Berkeley</li>
          <li>CMU</li>
          <li>UPenn</li>
          <li>Univ of Maryland College Park</li>
          <li>NYU</li>
          <li>Columbia</li>
          <li>Cornell</li>
          <li>UWisc, Madison</li>
          <li>UMass, Amherst</li>
          <li>UCSD</li>
          <li>UIUC</li> 

          </ul> <br>   

             

        <div class="col-lg-8 col-lg-offset-2">

          <ul class="gradblog_list">
            {% for gradblog in site.gradblog %}
              <li class="blog">
                          <a href="{{ gradblog.url }}"><h4>{{ gradblog.name }}</h4></a> 
                          <p>
                          {{ gradblog.description }}
                          </p>
              </li>
            {% endfor %}
          </ul>

        </div>
    </div>
</section>

<!-- Career End -->
