
<!-- Intro Start -->

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <h1 class="brand-heading">&nbsp;</h1>
                    <span class="intro-text">{{ content }}</span>
                    <h5>&nbsp;</h5>
                    <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
                      <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
                    </a>
                    <h2>UPDATES:</h2><p>After 3 and a half years of electronics, finally studying computer science this semester ! By August, aiming to become an expert in C, C++, PHP, Javascript, Ruby, ROS, OpenCV through various projects in autonomous robotics, web design and competetive programming !</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Intro End -->
