
<!-- Intro Start -->

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <h1 class="brand-heading">&nbsp;</h1>
                    <span class="intro-text">{{ content }}</span>
                    <h5>&nbsp;</h5>
                    <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
                      <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
                    </a>
                    <h5>UPDATES:</h5><p>I just got rejected from UPenn. Won't pretend its not a dissapointment. But I've faced worse. I have battled depression, abysmal grades and failed subjects and have bounced back admirably. But UPenn only saw my sins, not my redemption. I will still get in somewhere though and Upenn will rue the day it decided to close my file.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Intro End -->
