<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
               <!--
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
            

                <div class="item">
                    <span class="project-title"><a href="https://www.facebook.com/swarathatiiitd/" target="_new">Autonomous Cars</a></span> - <span class="project-tagline">Developed a real-time lane detection module.</span><span class="project-title">&nbsp<a href="https://drive.google.com/file/d/0B6liApN8RVRnUjA2RnNFU05vY2M/preview" target="_blank">Video</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://www.cs.umd.edu/class/spring2017/cmsc733/Proj/P3BestResults/rchandr1_ssinghalP3.pdf" target="_blank">Structure from Motion</a></span> - 
                    <span class="project-tagline">Implemented the full pipeline to reconstruct the 3D scene from multiple images. </span><span class="project-title">&nbsp<a href="https://github.com/swatisgupta/CMSC733-Computer-Vision-ProjectBased" target="_blank">Code</a></span>
                </div><!--//item-->
                
                
                <div class="item">
                    <span class="project-title"><a href="/attachments/Report.pdf" target="_blank">Semantic Mapping of 3D pointcloud</a></span> - <span class="project-tagline">Given images of single and muliple cluttered table-top objects, generate 3-D pointclouds and do the following:&nbsp<a href="/attachments/Video.avi" target="_blank">Video 1</a>&nbsp<a href="/attachments/Video_Multiple.avi" target="_new">Video 2</a>&nbsp<a href="https://github.com/swatisgupta/Semantic-Mapping" target="_new">Code</a></br> <ul>
                    <li>Construct 3-D model of the scene</li>
                    <li>3D pointcloud Segmentation </li>
                    <li>Generating a semantic map </li>

                </ul></span>
                </div><!--//item
                
                <!--
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                
                <!--
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->

            </section><!--//section-->