<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-file-archive-o"></i>Publications</h2>
<p>This list may be outdated. Refer to the<a href="https://scholar.google.com/citations?user=uOIgTt8AAAAJ&hl=en" target= "_new"> google scholar</a> page for an updated list.</p>

  <div class="item">
                    <span class="project-title"><h4>Socially Aware Autonomous Driving</h4></span><ul>
                    
			<li><a href="https://arxiv.org/pdf/2003.04424.pdf" target= "_new">CMetric: A Driving Behavior Measure Using Centrality Functions</a></br>Rohan Chandra, Uttaran Bhattacharya, Trisha Mittal, Aniket Bera, Dinesh Manocha <i>in</i> <b>arXiv preprint<\b>.</li>

			<li><a href="https://arxiv.org/pdf/1910.00049.pdf" target= "_new">Graphrqi: Classifying Driver Behaviors Using Graph Spectrums</a></br>Rohan Chandra, Uttaran Bhattacharya, Trisha Mittal, Xiaoyu Li, Aniket Bera, Dinesh Manocha <i>in</i> <b>ICRA 2020<\b>.</li>


                </ul></span>
                </div>


  <div class="item">
                    <span class="project-title"><h4>Trajectory Prediction</h4></span><ul>

                    <li><a href= "https://arxiv.org/pdf/1912.01118.pdf" target= "_new">Forecasting Trajectory and Behavior of Road-Agents Using Spectral Clustering in Graph-LSTMs</a></br>Rohan Chandra, Tianrui Guan, Srujan Panuganti, Trisha Mittal, Uttaran Bhattacharya, Aniket Bera, Dinesh Manocha <i>in</i> <b>RAL 2020</b>.</li>

                    <li><a href= "https://dl.acm.org/doi/pdf/10.1145/3359999.3360495" target= "_new">RobustTP: End-to-End Trajectory Prediction for Heterogeneous Road-Agents in Dense Traffic with Noisy Sensor Inputs</a></br>Rohan Chandra, Uttaran Bhattacharya, Christian Roncal, Aniket Bera, Dinesh Manocha <i>in</i> <b>ACM CSCS 2019</b>.</li>

                    <li><a href= "https://arxiv.org/pdf/1812.04767.pdf" target= "_new">TraPHic: Trajectory Prediction in Dense and Heterogeneous Traffic Using Weighted Interactions</a></br>Rohan Chandra, Uttaran Bhattacharya, Aniket Bera, Dinesh Manocha <i>in</i> <b>CVPR 2019</b>.</li>


  <div class="item">
                    <span class="project-title"><h4>Tracking</h4></span><ul>
                    
			<li><a href="https://arxiv.org/pdf/1906.10712.pdf" target= "_new">RoadTrack: Tracking Road Agents in Dense and Heterogeneous Environments</a></br>Rohan Chandra, Uttaran Bhattacharya, Tanmay Randhavane, Aniket Bera, Dinesh Manocha <i>in</i> <b>ICRA 2020<\b>.</li>

			<li><a href="https://arxiv.org/pdf/1906.10313.pdf" target= "_new">DensePeds: Pedestrian Tracking in Dense Crowds Using Front-RVO and Sparse Features</a></br>Rohan Chandra, Uttaran Bhattacharya, Aniket Bera, Dinesh Manocha <i>in</i> <b>IROS 2019<\b>.</li>


                </ul></span>
                </div>



            </section><!--//section-->
