<section class="section projects-section">
<h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Activities</h2>
<hr>
    <b>Apr 2022</b>&nbsp Organizing the first workshop on <a href="https://gamma.umd.edu/workshops/badue22/" target="new">Behavior-driven Autonomous Driving in Unstructured Environments</a> ! <br>
<b>Apr 2022</b>&nbsp Invited to co-chair the Intelligent Transportation session at ICRA'22 ! <br>
<b>January 2022</b>&nbsp Invited speaker at the <a href="https://ardhendubehera.github.io/HPIV/index.html">HPIV Workshop</a> at WACV'22. <br>
<b>October 2021</b>&nbsp Invited to serve on the program committee for the ICCV'21 <a href="mair2.com/home">MAIR2 Workshop</a>. <br>
<b>July 2021</b>&nbsp Invited speaker at the <a href="https://negarmehr.github.io/RSS2021Workshop/">Perception and Control for Autonomous Navigation in Crowded, Dynamic Environments Workshop</a> at RSS'21. <a href="https://youtu.be/EmrReoNQP3s?t=3688">Video</a> <br>

<br>
                <h2 class="section-title"><i class="fa fa-file-archive-o"></i>Publications</h2>
	<hr>

  <div class="item">
                    <span class="project-title"><h4>Multi-Agent Systems and Planning</h3></span><ul>

			<li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9689991" target= "_new"><b>GamePlan: Game-Theoretic Multi-Agent Planning with Human Drivers at Intersections, Roundabouts, and Merging</b></a></br>Rohan Chandra, Dinesh Manocha <i>in</i> <b>ICRA/RAL'22</b>.</li></br>
			<li><a href="https://arxiv.org/pdf/2109.01896.pdf" target= "_new"><b>Game-Theoretic Planning for Risk-Aware Human Drivers</b></a></br>Rohan Chandra, Mingyu Wang, Mac Schwager, Dinesh Manocha <i>in</i> <b>ICRA'22</b>.</li></br>
			<li><a href="https://arxiv.org/pdf/2011.03748.pdf" target= "_new"><b>B-GAP: Behavior-Rich Simulation and Navigation for Autonomous Driving</b></a></br>Angelos Mavrogiannis, Rohan Chandra, Dinesh Manocha <i>in</i> <b>RAL'22</b>.</li></br>


                </ul></span>
                </div>


  <div class="item">
                    <span class="project-title"><h4>Driver Behavior Modeling</h3></span><ul>


            <li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9646493" target= "_new"><b>Using Graph-Theoretic Machine Learning to Predict Human Driver Behavior
</b></a></br>Rohan Chandra, Aniket Bera, Dinesh Manocha <i>in</i> <b>IEEE Transactions on Intelligent Transportation Systems, 2021</b>.</li></br>


			<li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9341720" target= "_new"><b>CMetric: A Driving Behavior Measure Using Centrality Functions</b></a></br>Rohan Chandra, Uttaran Bhattacharya, Trisha Mittal, Aniket Bera, Dinesh Manocha <i>in</i> <b>IROS 2020</b>.</li></br>

			<li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9196751" target= "_new"><b>Graphrqi: Classifying Driver Behaviors Using Graph Spectrums</b></a></br>Rohan Chandra, Uttaran Bhattacharya, Trisha Mittal, Xiaoyu Li, Aniket Bera, Dinesh Manocha <i>in</i> <b>ICRA 2020</b>.</li></br>


                </ul></span>
                </div>


  <div class="item">
                    <span class="project-title"><h4>Trajectory Prediction</h3></span><ul>

                    <li><a href= "https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9126166" target= "_new"><b>Forecasting Trajectory and Behavior of Road-Agents Using Spectral Clustering in Graph-LSTMs</b></a></br>Rohan Chandra, Tianrui Guan, Srujan Panuganti, Trisha Mittal, Uttaran Bhattacharya, Aniket Bera, Dinesh Manocha <i>in</i> <b>RAL/IROS 2020</b>.</li></br>

                    <li><a href= "https://dl.acm.org/doi/pdf/10.1145/3359999.3360495" target= "_new"><b>RobustTP: End-to-End Trajectory Prediction for Heterogeneous Road-Agents in Dense Traffic with Noisy Sensor Inputs</b></a></br>Rohan Chandra, Uttaran Bhattacharya, Christian Roncal, Aniket Bera, Dinesh Manocha <i>in</i> <b>ACM CSCS 2019</b>.</li></br>

                    <li><a href= "https://openaccess.thecvf.com/content_CVPR_2019/papers/Chandra_TraPHic_Trajectory_Prediction_in_Dense_and_Heterogeneous_Traffic_Using_Weighted_CVPR_2019_paper.pdf" target= "_new"><b>TraPHic: Trajectory Prediction in Dense and Heterogeneous Traffic Using Weighted Interactions</b></a></br>Rohan Chandra, Uttaran Bhattacharya, Aniket Bera, Dinesh Manocha <i>in</i> <b>CVPR 2019</b>.</li></br>


                </ul></span>
                </div>

  <div class="item">
                    <span class="project-title"><h4>Tracking</h3></span><ul>
                    
			<li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9196612" target= "_new"><b>RoadTrack: Tracking Road Agents in Dense and Heterogeneous Environments</b></a></br>Rohan Chandra, Uttaran Bhattacharya, Tanmay Randhavane, Aniket Bera, Dinesh Manocha <i>in</i> <b>ICRA 2020</b>.</li></br>

			<li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8968470" target= "_new"><b>DensePeds: Pedestrian Tracking in Dense Crowds Using Front-RVO and Sparse Features</b></a></br>Rohan Chandra, Uttaran Bhattacharya, Aniket Bera, Dinesh Manocha <i>in</i> <b>IROS 2019</b>.</li></br>


                </ul></span>
                </div>

            </section><!--//section-->
