<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Publications</h2>

  <div class="item">
                    <span class="project-title">Preprints:</span><ul>
                    <li><a href="https://arxiv.org/abs/1711.09777" target= "_new">Phasepack User Guide</a></br>Rohan Chandra, Ziyuan Zhong, Justin Hontz, Val McCulloch, Christoph Studer, Tom Goldstein, 2017</br>arXiv preprint</li>


                </ul></span>
                </div>


  <div class="item">
                    <span class="project-title">2017:</span><ul>
                    <li><a href= "#">Phasepack: A Phase Retrieval Library</a></br>Rohan Chandra, Tom Goldstein, Christoph Studer</br><i>Submitted to</i> IEEE Proceedings of the 51st Asilomar 				Conference on Signals, Systems and Computers, 2017.</li>


                </ul></span>
                </div>




  <div class="item">
                    <span class="project-title">2016:</span><ul>


                    <li><a href= "http://www.jstor.org/stable/10.4169/college.math.j.47.4.281?seq=1#page_scan_tab_contents" target= "_new">Multiply by 9</a></br>Arthur Benjamin, Rohan Chandra</br>The College Mathematics Journal.</li>

	
		    </br>
		
                    <li><a href= "https://search.proquest.com/docview/1776105431?pq-origsite=gscholar" target= "_new">Voltage Mode Second Order Notch/All-Pass Filter Realization Using OTRA</a></br>Rashika Anurag, Neeta Pandey, Rohan Chandra, Rajeshwari Pandey</br>i-Manager's Journal on Electronics Engineering.</li>


                </ul></span>
                </div>

            </section><!--//section-->
