
<!-- Career Start -->

<section id="publication" class="container content-section text-center">
    <div class="row">
    <h1>PUBLICATIONS</h1>
        <div class="col-lg-8 col-lg-offset-2">

          <h3><i>JOURNAL</i></h3>

          <ul class="publications_list">
            {% for publication in site.publications %}
              <li class="publication_single">
                          <a href="{{ publication.url }}"><h4>{{ publication.name }}</h4></a>
                          <p>
                            <b>{{ publication.author }}</b>
                          </p>
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
</section>

<!-- Career End -->
