
<!-- Contact Start -->

<section id="research" class="container content-section text-center">
    <div class="row">
    <h1>RESEARCH</h1>
        <div class="col-lg-8 col-lg-offset-2">

        <h3><i>Delhi Technological Univeristy</i></h3>
        <P>I have been working with <a href="https://scholar.google.co.in/citations?user=7pew59gAAAAJ&hl=en">Dr. Neeta Pandey</a> at DTU, one of India's best engineering institutes to improve the performance and functionality of notch filters and all pass filters by implementing Operational Transresistance Amplifiers (OTRA's) as the basic amplifier block. Our research holds significance as the OTRA provides advantages in the form of gain-bandwidth independence, optimum slew rate and negligible parasitic effects due to passive components. </p>
<p>UPDATES:
One of our papers has been submitted to "Active and Passive Electronic Components" , Hindawi Publications. <br>Currently, as part of my final year project, I am simulating Digital-to-Analog/Analog-to-Digital (DAC/ADC) circuits using the OTRA. </p>


      
        



        </div>
    </div>
</section>

<!-- Contact End -->
