<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <!--<a href="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/18528102_1134460853364685_3782574076923859443_n.jpg?oh=ed6919f97703c36e55c805f70bb36b9f&oe=59B40B57" target="_blank">-->
                <img class="profile-img" src="{{site.baseurl}}/assets/images/profile2.jpg" alt="profile picture" />
		
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Alan Doe{% endif %}</h1>
                <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Full Stack Developer{% endif %}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                    {% if site.quora %}
                    <li class="quora"><i class="fa fa-quora"></i><a href="https://www.quora.com/profile/Rohan-Chandra-9" target="_blank">{{site.quora}}</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/sharu725" target="_blank">github.com/sharu725</a></li>
                    {% endif %}

	            {% if site.scholar %}
                    <li class="scholar"><i class="fa fa-graduation-cap"></i><a href="https://scholar.google.com/citations?user=uOIgTt8AAAAJ&hl=en" target="_blank">{{site.scholar}}</a></li>
                    {% else %}
                    <li class="website"><i class="fa fa-globe"></i><a href="https://rohanchandra306.wordpress.com/" target="_blank">{{site.blog}}</a></li>
                    {% endif %}  		                 

	            {% if site.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:alan.doe@website.com">alan.doe@website.com</a></li>
                    {% endif %}

                    {% if site.resume %}
                    <!-- <li class="file"><i class="fa fa-file"></i><a href="https://drive.google.com/open?id=0B6liApN8RVRneGU5S2YxekNLU00" target="_new">{{site.resume}}</a></li> -->
                    <li class="file"><i class="fa fa-file-pdf-o"></i><a href="/attachments/CV.pdf" target="_new">{{site.resume}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:alan.doe@website.com">alan.doe@website.com</a></li>
                    {% endif %}
                    
                   <!--  {% if site.phone %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
                    {% else %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:012 345 6789">012 345 6789</a></li>
                    {% endif %} -->


                    {% if site.website %}
                    <li class="website"><i class="fa fa-wordpress"></i><a href="https://rohanchandra306.wordpress.com/" target="_blank">{{site.website}}</a></li>
                    {% else %}
                    <li class="website"><i class="fa fa-wordpress"></i><a href="https://rohanchandra306.wordpress.com/" target="_blank">{{site.blog}}</a></li>
                    {% endif %}
                    
                    <!--{% if site.linkedin %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank">linkedin.com/in/{{site.linkedin}}</a></li>
                    {% else %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/sharath-kumar-87669956" target="_blank">linkedin.com/in/sharathdt</a></li>
                    {% endif %}-->
                    

                <!-- 
                    {% if site.twitter %}
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a></li>
                    {% else %}
                     <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/@webjeda" target="_blank">@webjeda</a></li>
                    {% endif %}-->
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include about.html %}
           
            
        </div><!--//sidebar-wrapper-->
