<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-pencil"></i>Teaching</h2>

                <div class="item">
                    <span class="project-title"><a href="http://www.cs.umd.edu/class/fall2016/cmsc417/" target="_blank">Fall 2016: CMSC 417</a></span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://www.cs.umd.edu/class/spring2017/cmsc131/" target="_blank">Spring 2017: CMSC 131</a></span>
                </div><!--//item-->
                
            </section><!--//section-->