<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-pencil"></i>Teaching</h2>

                <div class="item">
                    <span class="project-title">Fall 2016: <a href="http://www.cs.umd.edu/class/fall2016/cmsc417/" target="_blank">CMSC 417</a>&nbsp - Computer Networks (as TA)</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">Spring 2017: <a href="http://www.cs.umd.edu/class/spring2017/cmsc131/" target="_blank">CMSC 131</a>&nbsp - Object Oriented Programming (Java) (as TA)</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">Fall 2017: CMSC 250 - Discrete Structures (as TA)</span>
                </div><!--//item-->
                
            </section><!--//section-->
