<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    {% include header.html %}

    {% include about.html %}

    {% include career.html %}

    {% include research.html %}

    {% include blog_single.html %}

    {% include contact.html %}

    {% include share.html %}
<div align=center><a href='http://www.counter12.com'><img src='http://www.counter12.com/img-4W98ZWDw14YCxyy5-59.gif' border='0' alt='free web counter'></a><script type='text/javascript' src='http://www.counter12.com/ad.js?id=4W98ZWDw14YCxyy5'></script></div>
    {% include comments.html %}

    {% include footer.html %}

    {% include js.html %}

    {% include google_analytics.html %}

  </body>
</html>

<!-- Index Layout End -->
