
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    {% include header.html %}

    {% include about.html %}

    {% include career.html %}

    {% include research.html %}

    {% include blog.html %}

    {% include contact.html %}

    {% include footer.html %}

    {% include js.html %}

    {% include google_analytics.html %}


  </body>
</html>

<!-- Index Layout End -->
